<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.dait.gps.data.CoordinateService">

    <sql id="rootDirectory">-1</sql>

    <sql id="selectDirectory">
        select
            id,
            parent_id,
            name
        from
            directory
    </sql>

    <select id="getDirectory" resultType="ca.dait.gps.entities.Directory">
        <include refid="selectDirectory"/>
        where
            id = #{directoryId}
    </select>

    <select id="getRootDirectories" resultType="ca.dait.gps.entities.Directory">
        <include refid="selectDirectory"/>
        where
            parent_id = <include refid="rootDirectory"/> and
            id != <include refid="rootDirectory"/>
    </select>

    <select id="getDirectories" resultType="ca.dait.gps.entities.Directory">
        <include refid="selectDirectory"/>
        where
            parent_id = #{parentDirectoryId}
    </select>

    <select id="getCoordinates" resultType="ca.dait.gps.entities.Coordinate">
        select
            id,
            directory_id,
            name,
            lat,
            lon
        from
            coordinate
        where
            directory_id = #{directoryId}
    </select>

    <insert id="createDirectory">
        insert into directory(
            parent_id,
            name)
        values(
            #{parentId},
            #{name}
        )
    </insert>

    <insert id="createCoordinate">
        insert into coordinate(
            directory_id,
            name,
            lat,
            lon)
        values(
            #{directoryId},
            #{name},
            #{lat},
            #{lon}
        )
    </insert>


</mapper>