<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.dait.gps.data.UserCredentialsService">

    <select id="getByUsername" resultType="ca.dait.gps.auth.UserCredentials">
            select
                username,
                password,
                authorities
            from
                user
            where
                username = #{username}
    </select>


</mapper>